<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title + " | " + site.name if title else site.name }}</title>

        <meta name="description" content="{{ description if description else site.description }}"/>

        <link rel="stylesheet" href="/css/styles/main.css">

        <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg"/>
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png"/>
        <link rel="manifest" href="/assets/favicon/site.webmanifest"/>
    </head>
    <body>
        <div class="main">
            <h1>{{ header if header else site.name }}</h1>
            {% block content %}{% endblock %}
        </div>
        <footer>
            <hr>
            <div class="footer-buttons">
                <a
                    href={{ site.links.archlinux }} target="_blank">
                    <img src="/assets/88x31/archlinux.gif" width="88" height="31"
                    alt="archlinux">
                </a>
                <a href={{ site.links.11ty }} target="_blank">
                    <img src="/assets/88x31/11ty.png" width="88" height="31"
                    alt="made with love and eleventy">
                </a>
                <a href={{ site.links.noweb3 }} target="_blank">
                    <img src="/assets/88x31/saynotoweb3.gif" width="88" height="31"
                    alt="say no to web3, keep the web free">
                </a>
                <a
                    href={{ site.links.acab }} target="_blank">
                    <img src="/assets/88x31/acab.gif" width="88" height="31"
                    alt="all cops are bastards">
                </a>
                <a
                    href={{ site.links.diyhrt }} target="_blank">
                    <img src="/assets/88x31/estrogen.gif" width="88" height="31"
                    alt="powered by estrogen">
                </a>
            </div>
            <div class="footer-socials">
                <a href="/">website</a>
                <a href={{ site.socials.github }} target="_blank">github</a>
                <a href={{ site.socials.hexbear }} target="_blank">hexbear</a>
                <a href={{ site.socials.bsky }} target="_blank">bsky</a>
            </div>
        </footer>
    </body>
</html>