@import url("/css/components/fonts/IBM_Plex_Mono.css");
@import url("/css/components/colors.css");

html * {
    font-family: IBMPlexMono, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--white);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    justify-content: center; /* Center content horizontally */
    align-items: flex-start; /* Align content at the top */
}

body {
    background-color: var(--surface-0); 
}

.main {
    width: 100%;
    min-width: 50px;
    max-width: 600px;
}

p, a {
    text-wrap: pretty;
}

h1,h2,h3 {
    font-family: IBMPlexMono, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary-3);
}

a {
    font-family: IBMPlexMono, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 0.4em;
    padding-left: 0.4em;
	text-decoration: none;
	color: var(--white);
	font-weight: 600;
    position: relative;
}

a::before {
  content: '';
  background-color: var(--surface-1);
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100%);
  height: calc(100%);
  border-radius: 0.4em;
  z-index: -1;
  transition: all .1s ease-in-out;
}

a:hover::before {
  border-radius: 0.2em;
  background-color: var(--primary-2);
  font-weight: 600;
}